:host {
  display: block;
  // Allow scrolling past end so that 'add group' button doesn't hide last group.
  padding: 1rem 1rem 80px;
}

.app-report-container {
  margin-top: 1rem;
  // Scroll table content
  overflow: auto;
}
