:host {
  display: block;
  // Allow scrolling past end so that 'add group' button doesn't hide last group.
  padding: 1rem 1rem 80px;
}

.app-report-container {
  margin-top: 1rem;
  // Scroll table content
  overflow: auto;
}

.app-report-notes {
  width: 100%;
  min-width: 800px;
}

.app-report-started-date, .app-report-started-time {
  max-width: 100px;
}
.app-report-duration {
  max-width: 100px;
}
.app-report-note-task {
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
