:host {
  display: block;
  // Allow scrolling past end so that 'add group' button doesn't hide last group.
  padding: 1rem 1rem 80px;
}

.app-add-group-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
  align-items: center;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
}
